[defaults]
# Inventory файл
inventory = ./inventory.yml

# SSH параметры
host_key_checking = False
remote_user = root
timeout = 30
log_path = ./ansible.log
ask_pass = False
transport = paramiko

# Параллелизм
forks = 5

# Ролики
roles_path = ./roles

# Вывод
force_color = True
display_skipped_hosts = False
display_ok_hosts = True

# Повторные попытки
task_retry_delay = 10
max_fail_percentage = 0

[inventory]
enable_plugins = yaml, ini
